@import url(var.css);

h2, h5, h6, p, a, .font-basic {
    font-family: var(--h2);
}

header, body {
    background-image: url(../src/paper2.jpg);
    background-repeat: repeat;
    background-size:100%;    
}

.text-clight {
    color: var(--text-color-light);
}

.primary-font {
    font-family: var(--h2);
    font-weight: bold;
}

.alternative-font {
    font-family: var(--h3);
}

.title-font {
    font-family: var(--h1);
}

.bg-menu {
    background-color: var(--bg-color-dark);
}

.bg-main-light {
    background-color: var(--bg-color);
}

.custom-toggler-icon {
  color: var(--text-color-light);
  background-color: transparent;
}

.navhover {
    font-size: 150%;
}
.navhover:hover {
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease;
}

li img, #intestazione a img {
    transition: transform 0.1s ease-in-out;
}

li img:hover, #intestazione a img:hover {
    transform: scale(1.2);
}

p {
    font-family: var(--h2);
}

.box {
   transition: transform 0.1s ease-in-out; 
}

.box:hover {
    transform: scale(1.05);
    text-decoration: none;
    color: var(--text-color);
}

.footerhover {
    font-size: 120%;
}

.footerhover:hover {
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
}

.smooth {
    border-radius: 10%;
}

.menu-desktop {
    width: 100%;
    text-align: center;
}

.border-box {
    border: 2px solid var(--bg-color-dark);
}

.lineaTempo {
    position: relative;
    border-left: 2px solid var(--bg-color-dark);
}

.puntino {
    position: absolute;
    top: 26px;      
    left: -11px;    
    width: 20px;
    height: 20px;
    background-color: var(--bg-color-dark);
    border-radius: 50%;
}

.sottotesto {
    font-size: 80%;
    font-style: italic;
}

.dettagli {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.lineaTempo.aperto .dettagli {
    max-height: 300px;
}

.puntinoExpand {
    position: absolute;
    top: 26px;      
    left: -11px;    
    width: 20px;
    height: 20px;
    background-image: url(../src/arrow.png);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: right;
    background-size:auto 100%;
    cursor: pointer;
}

.text-link {
    color: var(--text-color);
    text-decoration: underline;
}

.image {
    width: 20%;
}




@media (min-width: 1024px) {

    main {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 8%;
    }

    .skill-item {
        position: relative;
    }

    .skill-tooltip {
        position: absolute;
        bottom: 110%;
        left: 50%;
        transform: translateX(-50%);
        width: 150%;
        background: var(--text-color);
        color: var(--text-color-light);
        padding: 5%;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        z-index: 10;
        text-align: center;
    }

    .skill-item:hover .skill-tooltip {
        opacity: 1;
    }

    .lineaTempo {
        position: relative;
        border-top: 2px solid var(--bg-color-dark);
        border-left: 0px;
    }

    .puntino {
        position: absolute;
        top: -10px;      
        left: 50%;    
        width: 20px;
        height: 20px;
        background-color: var(--bg-color-dark);
        border-radius: 50%;
    }

    .puntinoExpand {
        position: absolute;
        top: -10px;      
        left: 50%;    
        width: 20px;
        height: 20px;
        background-image: url(../src/arrow.png);
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: right;
        background-size:auto 100%;
        cursor: pointer;
    }

    .image {
        width: 10%;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .reduce-width {
        width: 6%;
    }

    .tablet-inline {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .tablet-inline img {
        margin-left: 10px;
    }

}