:root{
    --bg-color: #FAECDF;
    --text-color: #2F2E2E;
    --dark-color: 47, 46, 46;
    --text-color-light: #FAECDF;
    --bg-color-dark: #BD9E89;
    --hover-text: #545454;

    --title: Proza Libre;
    --text: Raleway;
    --h1: Vidaloka;
    --h2: Quicksand;
    --h3: Sedan SC
}